<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop - Inventory</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />
    <style></style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-dark text-white align-item-start min-vh-100">
          <h1 class="text-white">dashboard</h1>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="{{ url_for(home)}}" class="nav-link-active"></a>
              <i class="bi bi-house-door">HOME</i>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('viewproduct')}}" class="nav-link-active"></a>
              <i class="bi bi-box-seam me-2">ViewProduct</i>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('billing')}}" class="nav-link-active"></a>
              <i class="bi bi-box-seam me-2">Billing</i>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('viewproduct')}}" class="nav-link-active"></a>
              <i class="bi bi-box-seam me-2">Sign out</i>
            </li>
          </ul>
        </div>

        <div class="col-md-10 my-4">
          <nav class="navbar navbar-expand-lg bg-dark shadow-sm sticky-top">
            <div class="container-fluid d-flex justify-content-between">
              <div class="input-group">
                <span class="input-group-text bg-success border-0">
                  <i class="bi bi-search"></i>
                </span>

                <input
                  id="search"
                  class="form-control bg-danger border-2"
                  type="search"
                  placeholder="search..."
                />
                onkeyup="filterproducts()"
              </div>
              <a href="/cart" class="">
                <i class="bi bi-cart text-danger fs-4"></i>
                <span
                  class="text-light translate-middle position-absolute bg-danger rounded-pill"
                  style="font-size: 0.7rem"
                  >0</span
                >
              </a>
            </div>
          </nav>

          <h3 class="text-dark">OUR PRODUCTS</h3>
          <div class="row cols-2 row-cols-4 g-4">
            {% for product in products %}
            <div class="col">
              <div class="card min-vh-60">
                <img
                  src="/static/uploads/{{ product.image }}"
                  class="item-img"
                  alt="{{ product.product_name }}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
